.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 284px);
  gap: 16px;
  padding: 0 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 352px);
    padding: 0 24px;
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: 288px;
    padding: 0 16px;
    gap: 12px;
  }
}